API_DOMAIN {
  tls ISSUER_ADDRESS

  # some security headers
  header / {
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"

    -Server
  }

  proxy / api:5000/ {
    transparent
  }
  
  log stdout
}