WEB_DOMAIN, www.WEB_DOMAIN {
  root /usr/src/app/www
  tls ISSUER_ADDRESS

  # some security headers
  header / {
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"

    -Server
  }

  rewrite {
    if {file} not favicon.ico
    if {file} not files/*
    if {file} not userimages/*
    to {path} {path}/ /index.html
  }

  log stdout
}

API_DOMAIN {
  tls ISSUER_ADDRESS

  # some security headers
  header / {
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"

    -Server
  }

  proxy / api:5000/ {
    transparent
  }
  
  log stdout
}